html{
    zoom: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: #FFF;
    text-decoration: none;
    cursor: pointer;    
}