@import "./_globals.css";

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

body{
    background-color: hsl(218, 28%, 13%);
}

header{
    background-color: hsl(217, 28%, 15%);
    display: flex;
    justify-content: space-between;
    padding: 5% 10% 5% 10%;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li {
    padding-left: 50px;
}

.box-intro{
    background-color: hsl(217, 28%, 15%);
    background-image: url("./images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.text-container{
    padding: 0 0 10% 0;
    text-align: center;
}

.text-container > *{
    margin: 0 30% 2% 30%;
}

.text-container img{
    margin: 0 20% 0 20%;
    width: auto;
}

button {
    display: inline-block;
    border: none;
    border-radius: 32px;
    color: #FFF;
    cursor: pointer;    
}

.text-container button{
    padding: 20px 92px;
    background: linear-gradient(90deg, rgb(101, 226, 217) 0%, rgb(51, 158, 204) 100%);
    font-size: 18px;
}

.box-grid{
    display: flex;
    flex-direction: row;
    align-items: top;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;

}

.box-grid img{
    height: 80px;
    width: auto;
}

.item{
    width: 36%;
    padding:0% 7% 0 7%;
}

@media screen and (max-width: 1000px) {
    .box-grid{
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
    
    }

    .item{
        width: 60%;
        padding: 0 20% 10% 20%;

    }
}

.box-productive{
    display: flex;
    padding: 200px 10% 0 10%;
    align-items: center;
}

.box-productive > *{
    width: 50%;
    padding: 0 30px 0 30px;
}

.box-productive a{
    color: hsl(176, 68%, 64%);
}

.box-productive span{
    display: block;
    width : 165px;
    height: 2px;
    background-color:hsl(176, 68%, 64%);
}

.text h1{
    padding: 0 50% 0 0;
}

.box-post{
    margin: 0 10% 200px 10%;
    display: flex;
    flex-direction: row;
}

.quote-logo img{
    width: 90px;
    height: auto;
    margin: 110px 150px -20px 170px;
}

.posts{
    box-sizing: border-box;
    box-shadow: hsl(218, 28%, 13%);
    margin: 0 40px;
    background-color: hsl(219, 30%, 18%);
    width: 33%;  
    border: 30px solid hsl(219, 30%, 18%);
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .box-post{
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
    
    }

    .posts{
        width: 60%;
        margin: 0 20% 20% 20%;

    }
}

.profile{
    align-items: center;
    display: flex;
}

.profile img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profile-text{
    margin: 0 0 0 30px;
    line-height: 20px;

}

.box-subscribe{
    display: inline-block;
    z-index: 2;  
    margin: 0 30% 0 30%;
    padding: 0 30px 0 30px;
    background-color: hsl(219, 30%, 18%);
    text-align: center;
    border-radius: 10px;
}

form{
    display: flex;
    justify-content: space-evenly;
}

form input{
    width: 60%;
    height: 40px;
    border-radius: 32px;
    margin: 0 15px 0 0;
    padding: 0 0 0 25px;
}

form button{
    width: 25%;
    height: 40px;
    mix-blend-mode: screen;
    background: rgb(101, 226, 217);
    background: rgb(51, 158, 204);
    border-radius: 32px;
    margin: 0 0 30px 0;
}

@media screen and (max-width: 1000px) {
    form{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    form input {
        padding: 0 0 0 5%;
        margin: 0 0 3% 0;
        width: 85%;
    }

    form button{
        padding: 0;
        margin: 0 0 3% 0;
        width: 90%;
    }

}

.footer-box{
    z-index: -1;
    background-color: hsl(216, 53%, 9%);
    margin: -100px 0 0 0;
}

.footer-logo{
    margin: 200px 10% 0 10%;
}

.footer-content{
    display: flex;
    flex-direction:row;
    margin: 0 10% 0 10%;
}



.footer-content img{
    display: block;
    width: 25px;
    height: 25px;
    margin: 20px 15px 0 0;
}

.footer-content > *{
    margin: 0 20px 0 0;
}

.first-footer{
    display: flex;
    width: 30%;
    align-self: flex-start;
    justify-content: flex-start;

}

.contact{
    width: 20%;
}

.icon-text{
    display: flex;
}

.list-link{
    line-height: 60px;
    width: 15%;
}

@media screen and (max-width: 1000px) {
    .footer-content{
        flex-direction: column;
        flex-wrap: wrap;
    
    }

    .footer-content > *{
        width: 70%;
        margin: 0 10% 10% 10%;
    }

}